---
import dsStylesUrl from '@design-system/design-system.scss?url';
import SiteHeader from '@ag-website-shared/components/site-header/SiteHeader.astro';
import styles from '@layouts/Layout.module.scss';
import { getFavIconsData, getAppleTouchIconsData } from '@utils/favicons';

interface Props {
    title: string;
}

const {
    title,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        {
            getFavIconsData().map(({ size, icon }: any) => (
                <link rel="icon" type="image/png" sizes={`${size}x${size}`} href={icon} />
            ))
        }
        {
            getAppleTouchIconsData().map(({ size, icon }: any) => (
                <link rel="apple-touch-icon" sizes={`${size}x${size}`} href={icon} />
            ))
        }
        <meta name="robots" content="noindex" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        
        <!-- Import all global design system CSS -->
        <link rel="stylesheet" href={dsStylesUrl} />
    </head>
    <body>
        <div id="mainContainer" class:list={styles.mainContainer}>
            <SiteHeader />
            <slot />
        </div>
    </body>
</html>
